import { Address, BigInt } from "@graphprotocol/graph-ts";
export function getDefaultRegistrarForNetwork(): Address {
  return Address.fromString("{{registrar_address}}");
}

export function getDefaultRegistrarBlockForNetwork(): BigInt {
  return BigInt.fromI32({{start_block}});
}
